@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$background: #2c2c38;
$text-color: #fff;
$textbox-background: #384259;
$textbox-border: #555;
$textbox-shadow: #5c5cff;
$border-color: #555561;
$button-bg: #bfbfbf;
$button-hover: #4949db;
$label-color: #e0e0e0;

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: $background;
  color: $text-color;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: 600;
}

textarea {
  width: 300px;
  height: 150px;
  background-color: $textbox-background;
  border: 1px solid $textbox-border;
  border-radius: 10px;
  padding: 10px;
  color: $text-color;
  resize: none;
  outline: none;
  font-family: "Inter", sans-serif;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;

  &:focus {
    border-color: $textbox-shadow;
    box-shadow: 0 0 5px $textbox-shadow;
  }
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: $label-color;
}

button {
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .text-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .text-container {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;

      .answer {
        cursor: default;
      }
    }
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $textbox-shadow;
    border: none;
    border-radius: 20px;
    color: $text-color;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover;
    }
  }
}

@media (min-width: 1050px) {
  textarea {
    width: 500px;
  }
}

@media (max-width: 1050px) {
  textarea {
    width: 300px;
  }
}

@media (max-width: 750px) {
  .text-containers {
    flex-direction: column;
  }
}
