@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

$background: #343541;
$text-color: #fff;
$border-color: #555561;
$button-bg: #bfbfbf;

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

textarea {
  background: $background;
  resize: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: $text-color;
  padding: 20px;
}

button {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: $background;
  color: $text-color;

  .text-containers {
    display: flex;
    justify-content: center;
    align-items: center;

    .text-container {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;

      textarea {
        border: 1px solid $border-color;
        border-radius: 10px;
        height: 200px;
        margin: 20px 20px 20px 0;
      }

      .answer {
        cursor: default;
      }
    }
  }

  button {
    border-radius: 10px;
    padding: 10px;
    transition: 0.15s ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media (min-width: 1050px) {
  textarea {
    width: 500px;
  }
}

@media (max-width: 1050px) {
  textarea {
    width: 300px;
  }
}

@media (max-width: 750px) {
  .text-containers {
    flex-direction: column;
  }
}
